/* Main component */
.react-calendar {
  background-color: rgb(31 41 55) !important;
  width: 700px !important;
  border: none !important;
}

@media screen and (max-width: 710px) {
  .react-calendar {
    width: 90% !important;
    margin: 0 auto 0 auto !important;
  }
}

/* Calendar tiles */

.react-calendar__tile {
  background-color: rgb(105, 105, 105) !important;
  border: 1px solid rgb(31 41 55) !important;
  color: rgb(31 41 55);
}

.react-calendar__month-view__days__day {
  padding-top: 20px !important;
  font-size: 1.1rem;
}

.react-calendar__month-view__days__day--weekend {
  /* background-color: aquamarine !important; */
  color: rgb(6 182 212) !important;
  /* font-weight: 600; */
}

.react-calendar__tile--active {
  background-color: rgb(22 78 99) !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(134, 130, 130) !important;
}

.react-calendar__tile:hover {
  background-color: rgb(14 116 144) !important;
}

/* Week days selection */

.react-calendar__navigation {
  background-color: rgb(31 41 55);
  color: white;
}

.react-calendar__navigation button:hover {
  background-color: rgb(14 116 144) !important;
}

/* Year/month selection */

.react-calendar__month-view__weekdays {
  background-color: rgb(31 41 55);
  color: white;
}